//COLORS
$color-primry-purple: hsla(301, 55%, 64%);
$color-primry-green: rgb(20, 233, 162);
$color-primry: hsl(160, 64%, 43%);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: hsl(209, 81%, 72%);
$color-tertiary-dark: hsl(246, 95%, 62%);

$color-greay-light-1: #f7f7f7;
$color-greay-light-2: #eee;

$color-greay-dark: #777;
$color-greay-dark-2: #999;
$color-greay-dark-3: #333;

$color-whit: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-vertial-small: 6rem;
$gutter-horizontal: 6rem;